body {
  font-family: "DM Sans", sans-serif;
}

header {
  padding-top: 120px;
  padding-bottom: 120px;
}
header .header-left {
  display: flex;
  flex-direction: column;
}
header .header-left h1 {
  color: #28224B;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}
header .header-left p {
  color: #555555;
  font-size: 20px;
}
header .header-left button {
  margin-top: 10px;
  background-color: #5FCEAF;
  color: #ffffff;
  width: 210px;
  border: none;
  padding: 20px 1px;
  font-weight: 300;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.7s;
}
header .header-left button:hover {
  background-color: #3bac8c;
}
header .header-right img {
  width: 100%;
}

.trusted {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555555;
}
.trusted .logos {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.trusted .logos img {
  width: 13%;
  filter: grayscale(100%);
  opacity: 0.7;
}

.features {
  background-color: #F5F7FF;
  padding-top: 120px;
}

.feature-1 .feature-1-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-1 .feature-1-top h2 {
  font-size: 40px;
  color: #28224B;
}
.feature-1 .feature-1-top p {
  color: #555555;
  font-size: 18px;
  font-weight: 400;
}
.feature-1 .feature-1-items {
  margin-top: 40px;
}
.feature-1 .feature-1-items .feature-1-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.feature-1 .feature-1-items .feature-1-item .feature-icon {
  background-color: #ffffff;
  padding: 20px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 16px 10px 17px -3px #cccccc;
}
.feature-1 .feature-1-items .feature-1-item .feature-icon img {
  width: 100%;
  text-align: center;
}
.feature-1 .feature-1-items .feature-1-item h3 {
  color: #28224B;
  font-size: 30px;
}
.feature-1 .feature-1-items .feature-1-item p {
  color: #555555;
}

.feature-2 {
  margin-top: 150px;
}
.feature-2 img {
  width: 100%;
}
.feature-2 .features-text-1, .feature-2 .features-text-2, .feature-2 .features-text-3 {
  display: flex;
  flex-direction: column;
}
.feature-2 .features-text-1 h2, .feature-2 .features-text-2 h2, .feature-2 .features-text-3 h2 {
  font-size: 45px;
  color: #28224B;
}
.feature-2 .features-text-1 p, .feature-2 .features-text-2 p, .feature-2 .features-text-3 p {
  color: #555555;
}
.feature-2 .features-text-1 .icon-text, .feature-2 .features-text-2 .icon-text, .feature-2 .features-text-3 .icon-text {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.feature-2 .features-text-1 .icon-text img, .feature-2 .features-text-2 .icon-text img, .feature-2 .features-text-3 .icon-text img {
  height: 50px;
  width: 50px;
}
.feature-2 .features-text-1 .icon-text .text, .feature-2 .features-text-2 .icon-text .text, .feature-2 .features-text-3 .icon-text .text {
  margin-left: 20px;
}
.feature-2 .features-text-1 .icon-text .text h4, .feature-2 .features-text-2 .icon-text .text h4, .feature-2 .features-text-3 .icon-text .text h4 {
  color: #28224B;
  font-size: 25px;
}
.feature-2 .features-text-1 .icon-text .text p, .feature-2 .features-text-2 .icon-text .text p, .feature-2 .features-text-3 .icon-text .text p {
  color: #555555;
}
.feature-2 .features-text-3 button {
  background-color: #5FCEAF;
  color: #ffffff;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
}

.features-img-1, .features-text-1, .features-img-2, .features-text-2, .features-img-3, .features-text-3 {
  margin-bottom: 120px;
}

.pricing {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #F5F7FF;
}

.pricing-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-top h2 {
  color: #28224B;
  font-size: 40px;
}
.pricing-top p {
  color: #555555;
}

.pricing-items {
  margin-top: 40px;
}
.pricing-items .row {
  flex-wrap: nowrap;
}
.pricing-items .pricing-item {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 13px 10px -3px #cccccc;
}
.pricing-items .pricing-item:nth-child(1), .pricing-items .pricing-item:nth-child(2) {
  margin-right: 15px;
}
.pricing-items .card-top {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing-items .card-top .pricing-icon {
  padding: 10px;
  background-color: #F5F7FF;
  border-radius: 20px;
  text-align: center;
}
.pricing-items .card-price p {
  color: #555555;
  font-weight: 700;
}
.pricing-items .card-price span {
  color: #28224B;
  font-size: 30px;
  font-weight: 700;
}
.pricing-items .card-features {
  margin-top: 20px;
  margin-bottom: 50px;
}
.pricing-items .card-feature {
  display: flex;
  margin-bottom: 15px;
}
.pricing-items .card-feature p {
  margin-left: 10px;
  margin-bottom: 0;
  color: #28224B;
  font-weight: 700;
  font-size: 20px;
}
.pricing-items .btn {
  width: 80%;
  margin: 0 auto;
}
.pricing-items .btn button {
  width: 100%;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  font-size: 20px;
  background-color: #5FCEAF;
  color: #ffffff;
  border: 0;
  transition: all 0.7s;
}
.pricing-items .btn button:hover {
  background-color: #3bac8c;
}
.pricing-items .disabled {
  opacity: 0.4;
  cursor: default;
}

.faq {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
}

.faq-top img {
  width: 100%;
}
.faq-top .faq-top-right {
  padding-left: 40px;
  padding-top: 30px;
}
.faq-top h2 {
  color: #28224B;
  font-size: 45px;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 20px;
}
.faq-top p {
  color: #555555;
  margin-bottom: 40px;
}
.faq-top button {
  border: none;
  background-color: #5FCEAF;
  color: #ffffff;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 8px;
}
.faq-top button:focus {
  outline: none;
}

.faq-2 {
  padding-top: 120px;
}
.faq-2 > h2 {
  color: #28224B;
  font-size: 50px;
}
.faq-2 .ques-left, .faq-2 .ques-right {
  margin-top: 30px;
}
.faq-2 .que {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.faq-2 .que p {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}
.faq-2 p.show {
  opacity: 1;
  height: 100%;
  color: #00000080;
  padding: 15px 15px 15px 0px;
}
.faq-2 .que-title {
  display: flex;
  align-items: center;
}
.faq-2 .que-title h2 {
  margin-left: 6px;
  margin-bottom: 0;
}
.faq-2 button {
  border: none;
  outline: none;
  background-color: #5FCEAF;
  color: #ffffff;
  padding: 0px 14px;
  border-radius: 8px;
  font-size: 20px;
}
.faq-2 .line {
  width: 80%;
  margin-top: 10px;
  height: 1px;
  background-color: #ccc;
  opacity: 0.5;
}

.start {
  background-color: #4C50B1;
  padding-top: 100px;
  padding-bottom: 100px;
}
.start .start-content {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.start h2, .start p {
  color: #ffffff;
  margin-bottom: 40px;
}
.start h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}
.start button {
  margin-top: 10px;
  background-color: #5FCEAF;
  color: #ffffff;
  border: none;
  padding: 12px 27px;
  font-weight: 300;
  font-size: 22px;
  border-radius: 10px;
  transition: all 0.7s;
}
.start button:hover {
  background-color: #3bac8c;
}
.start button:focus {
  outline: none;
}