@media (max-width: 576px) {
    // Header
    header {
        padding-top: 20px;
        padding-bottom: 20px;
        .header-left {
            .btn {
                width: 80%;
                margin: 20px auto;
            }
            button {
                width: 100%;
            }
        }
        .logos {
            .logo {
                text-align: center;
            }
        }
    }

    // Features
    .features {
        padding-top: 20px;
        padding-bottom: 20px;
        .feature-1-top {
            h2{
                margin-bottom: 40px;
            }
        }
    }
    .feature-2 {
        margin-top: 30px;
        
    }
    .feature-1-items {
        .feature-1-item {
            margin-bottom: 40px;
        }
    }
    .features-text-1, .features-text-3 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .features-text-3 {
        margin-bottom: 0px;
        padding-bottom: 30px;
        .btn {
            width: 80%;
            margin: 20px auto;
        }
        button {
            width: 100%;
        }
    }

    // Pricing 
    .pricing {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .pricing-item {
        margin-bottom: 30px;
    }

    // FAQ
    .faq-2 {
        button {
            padding: 20px 8px;
        }
        h2 {
            margin-left: 14px;
        }
    }
  }
//   768
  @media (max-width: 991px) {
        // Header
        header {
            padding-top: 20px;
            padding-bottom: 20px;
            .header-left {
                .btn {
                    width: 80%;
                    margin: 20px auto;
                }
                button {
                    width: 100%;
                }
            }
            .logos {
                .logo {
                    text-align: center;
                }
            }
        }
    
        // Features
        .features {
            padding-top: 20px;
            padding-bottom: 20px;
            .feature-1-top {
                h2{
                    margin-bottom: 40px;
                }
            }
        }
        .feature-2 {
            margin-top: 30px;
            
        }
        .feature-1-items {
            .feature-1-item {
                margin-bottom: 40px;
            }
        }
        .features-text-1, .features-text-3 {
            padding-left: 15px;
            padding-right: 15px;
        }
        .features-text-3 {
            margin-bottom: 0px;
            .btn {
                width: 80%;
                margin: 20px auto;
            }
            button {
                width: 100%;
            }
        }
    
        // Pricing 
        .pricing {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .pricing-item {
            margin-bottom: 30px;
        }
    
        // FAQ
        .faq-2 {
            button {
                padding: 20px 8px;
            }
            h2 {
                margin-left: 14px;
            }
        }
        .features-img-1{
            order: 2;
        }
        .features-text-1{
            order: 1;
        }
        .features-img-2{
            order: 4;
        }
        .features-text-2{
            order: 3;
        }
        .features-img-3{
            order: 6;
        }
        .features-text-3{
            order: 5;
        }
  }
  
  @media (min-width: 992px) {
      .pricing {
          overflow: hidden;
      }
    .pricing-items {
        margin-top: 40px;
        .row {
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
        .pricing-item:nth-child(1), .pricing-item:nth-child(2) {
            margin-right: 15px;
        }
    }
  }
  
  @media (min-width: 1200px) {
  }