$colorWhite: #ffffff;
$colorBody: #F5F7FF;
$colorPrimary: #254E70;
$colorAccent: #F78E69;
$colorAccentDeep: #ff7c4d;
$colorBlack: #000000;
$colorText: #555555;
$color: #19ceaf;

body {
    font-family: 'DM Sans', sans-serif;
}

